<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CostAnalysisDb"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=CostAnalysis;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>